@import 'stylesheets/colors';
@import 'stylesheets/TwitterFeed';
@import 'stylesheets/Tweet';


.tweetbox{
  border: solid 2px black;
  padding-bottom: 10px;
}

.box{
  padding-bottom: 1rem;
}

ul{
  list-style: none;
}

li{
  display: inline-block;
  padding-right: 1.5rem;
}

.tweettext{
  padding-left: 1.3rem;
}

.red-text{
  color: red;
}

.green-text{
  color: green;
}
